<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="articles-index">
        <% @articles.each do |article| %>
          <article>
            <header>
              <h1><%= link_to article.title, article %> </h1>
            </header>
            <section>
              <p >
              <%= generate_abstract_tag(article.text,300) + (link_to " » ", article) %>
              </p>
            </section>
            <footer>
              <p class="blog-post-meta"> <%= link_to  article.user.name.blank? ? article.user.email : article.user.name , user_path(article.user_id) , {class: ""} %> | 最后更新：<%= change_time_style article.updated_at %> | <%= article.hits%>次阅读 </p>
            </footer>
          </article>
          <% if @articles.last != article %>
            <hr>
          <% end %>
        <% end %>

      </div>
      <div class="text-center">
        <ul class="pagination">
          <%= generate_pagination(total: @total,offset: @offset , limit: @limit)%>
        </ul>
      </div>
    </div> <!-- /.col-md-12 -->
  </div><!-- /.row -->
</div>
<%= render "shared/jump_toolbar"%>
