<div class="container">
	<div class="row">
		<div class="article col-md-10 col-md-offset-1">
			<h1 class="text-center" ><%= @article.title %></h1>
			<p class="info text-right"> <%= link_to  @article.user.name.blank? ? @article.user.email : @article.user.name , user_path(@article.user_id) , {class: ""} %> | 创建：<%= change_time_style @article.created_at%> | 最后更新：<%= change_time_style @article.updated_at %> </p>
			<p>
			  <%= raw markdown @article.text %>
			</p>


			<% if user_signed_in? && current_user.id == @article.user_id %>
			<%= link_to '编辑', edit_article_path(@article),{ class: "btn btn-default"} %>  <%= link_to '删除', @article, {method: :delete,class: "btn btn-default", data: { confirm: '删除后，将无法恢复！确定要删除？' }} %>
			<% end %>
		</div>
	</div>
</div>
<%= render "shared/jump_toolbar"%>
