<div class="container">
	<div class="row">
		<div class="article col-md-10 col-md-offset-1">
			<h1 class="text-center" ><%= @article.title %></h1>
			<p class="info text-right"> <%= link_to  @article.user.name.blank? ? @article.user.email : @article.user.name , user_path(@article.user_id) , {class: ""} %> | 创建：<%= change_time_style @article.created_at%> | 最后更新：<%= change_time_style @article.updated_at %> | <%= @article.hits%>次阅读 </p>
			<p>
			  <%= raw markdown @article.text %>
			</p>


			<% if user_signed_in? && (current_user.id == @article.user_id || current_user.admin? )%>
			<%= link_to '编辑', edit_article_path(@article),{ class: "btn btn-default"} %>  <%= link_to '删除', @article, {method: :delete,class: "btn btn-default", data: { confirm: '删除后，将无法恢复！确定要删除？' }} %>
			<% end %>
			<hr>
			<h4>共收到 <%= @article.comments.length %> 条回复 </h4>
			<hr>
			<%= render @article.comments %>
			 
			<h4>评论:</h4>
			<%= form_for([@article, @article.comments.build]) do |f| %>
	
			  <p>
			    <%= f.text_area :body %>
			  </p>
			  <p>
			    <%= f.submit '提交评论' %>
			  </p>
			<% end %>
			<% unless user_signed_in? %>
			<%= render "auth/sessions/links" %>
			<% end %>
		</div>
	</div>
</div>
<%= render "shared/jump_toolbar"%>
