<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '名字' %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email, id: :user_email %>
  </div>
  <div class="field">
    <%= form.label '简介' %>
  </div>

  <%= render 'shared/editor_toolbar'%>
  <div class="field">
    <%= form.text_area :profile, {id: :user_profile , class: "form-control",placeholder: "仅支持Markdown格式填写内容",rows: 10} %>
  </div>


  <div class="actions">
    <%= form.submit "保存" ,{class: "btn btn-default"} %>   
    <%= link_to '取消',  user , {class: "btn btn-default"} %> 
    
  </div>
<% end %>
