<div class="container">
  <div class="row text-center" >
    <h2>重置密码</h2>

    <%= form_for(@user, url: reset_password_users_path(@user), html: { method: :put }) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :reset_password_token %>
      <%= f.hidden_field :id %>
      <div class="field">
        <%= f.label :password, "新密码" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "确认新密码" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "确认修改" %>
      </div>
    <% end %>
  </div><!--/row-->
</div><!--/.container-->